*{
  margin: 0;
  padding: 0;
}
header{
  height: 60px;
  position: relative;
  width: calc(100% - 10px);
  background: #333;
  margin: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}
header h1{
  text-align: left;
  margin-left: 20px;
  color: #fff;
}
.nav{
  width: 100%;
}
.nav nav{
  max-height: 0px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: auto;
  top:60px;
  transition: 1.5s;
  background: #999;
}
.nav button{
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  background: #88f;
  border: none;
  outline: none;
  transition: 0.5s;
}
.nav button:hover{
  transform: scale(0.9);
}

.nav button:active{
  transform: scale(0.8);
}
.nav nav.active{
  max-height: 100vh;
}
.content{
  width: 100%;
  margin: 5px;
  padding: 5px;
  background: #333;
}
.content img{
  display: inline;
  float: left;
  margin: 0 10px 10px 0;
}
.content p{
  display: inline;
  color: #fff;
}
body{
  /* background: # */
  min-height: 100vh;
}
main{
  display: flex;
  height: calc(100vh - 210px);
}
nav{
  height: 100%;
  background: #333;
}
nav ul{
  height: 100%
}
nav ul li{

  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li a{
  padding: 10px 0;
  width: 100%;
  background: #999;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
nav ul li a:hover{
  background: #88f;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  height: 80px;
  color: #fff;
  margin: 5px;
}
footer h2{
  width: 100%;
  text-align: center;
}
footer .social{

}
footer .social img{
  width: 50px;
  margin-left: 20px;
}
.button button{
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #fdbe33 #000 #d77206;
  border-radius: 6px;
  background: linear-gradient(#f3ae0f, #e38916) #e38916;
  box-shadow: 2px 2px 5px #000;
  transform: none;
  transition: 0.5s;
}
.button button:hover{
  transition: 0.5s;
  transform: translate(2px, 2px);
  box-shadow: none;
}
.field{
  padding: 10px;
  width: calc(100% - 20px);
  color: #fff;
}
.field input[type="text"],
.field input[type="number"],
.field input[type="email"]{
  width: calc(100% - 10px);
  padding: 5px;
  border-radius: 5px;
  border: none;
  text-shadow: 0 0 10px #000;
}
.button{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
